{% extends "layout.html" %}
{% block content %}
    {% if not posts %}
        <article class="media content-section">
          <div class="media-body">
              <h3 class="article-content">There is no posts yet,</h3>
              <h5>Be the first one!</h5>
              <br />
              <a class="btn btn-outline-primary" href="{{ url_for('posts.new_post') }}" role="button">Create New Post</a>
          </div>
        </article>
    {% endif %}
    {% for post in posts.items %}
        <article class="media content-section p-4">
                <div class="m-3 text-center mr-5">
                    <div><img class="rounded-circle article-img" src="{{ url_for('static', filename='files/images/' + post.author.image_file) }}"></div>
                    <div class="mt-3"><a  href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a></div>
                </div>
                <div>
                    <div class="media-body">
                        <div class="article-metadata">
                            <small class="text-muted float-right p-2 font-weight-light">{{ post.date_posted.strftime('%b %d %Y') }}</small>
                            <a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}"><h3>{{ post.title }}</h3></a>

                        </div>
                        <p class="article-content">{{ post.content }}</p>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}
    {%  for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if page_num == posts.page %}
                <p class="btn btn-primary mb-4 active">{{ page_num }}</p>
            {% else %}
                <a class="btn btn-outline-primary mb-4" href="{{ url_for('main.home_page', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {%  endfor %}
{% endblock content %}
